<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <properties resource="mybatis-config.properties" >
   <!-- property name="cacheEnabled" value="false"/ -->
 </properties>
 
 <typeAliases>
	<typeAlias type="org.mitsi.api.datasources.DatabaseObject" alias="DatabaseObject"/>
 </typeAliases>
 
 <!-- TODO : supprimer ? -->
	<mappers>
		<mapper resource="mapper/oracle.xml" />
	</mappers>

</configuration>