<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>mitsi-war</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TestGsonServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.TestGsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestGsonServlet</servlet-name>
    <url-pattern>/TestGsonServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/spring/application-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>GetDatasourcesServlet</display-name>
    <servlet-name>GetDatasourcesServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.datasources.GetDatasourcesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDatasourcesServlet</servlet-name>
    <url-pattern>/GetDatasourcesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectServlet</display-name>
    <servlet-name>ConnectServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.connections.ConnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectServlet</servlet-name>
    <url-pattern>/ConnectServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>720</session-timeout>
  </session-config>
  <listener>
    <listener-class>org.mitsi.mitsiwar.filters.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.mitsi.mitsiwar.filters.CleanerListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>DisconnectServlet</display-name>
    <servlet-name>DisconnectServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.connections.DisconnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisconnectServlet</servlet-name>
    <url-pattern>/DisconnectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDatabaseObjectsServlet</display-name>
    <servlet-name>GetDatabaseObjectsServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.datasources.GetDatabaseObjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDatabaseObjectsServlet</servlet-name>
    <url-pattern>/GetDatabaseObjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetClientStatusServlet</display-name>
    <servlet-name>GetClientStatusServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.client.GetClientStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClientStatusServlet</servlet-name>
    <url-pattern>/GetClientStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RawSQLBeginServlet</display-name>
    <servlet-name>RawSQLBeginServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.rawsql.RawSQLBeginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RawSQLBeginServlet</servlet-name>
    <url-pattern>/RawSQLBeginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RawSQLFetchServlet</display-name>
    <servlet-name>RawSQLFetchServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.rawsql.RawSQLFetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RawSQLFetchServlet</servlet-name>
    <url-pattern>/RawSQLFetchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsJspServlet</display-name>
    <servlet-name>DetailsJspServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.details.DetailsJspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsJspServlet</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDetailsServlet</display-name>
    <servlet-name>GetDetailsServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.details.GetDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDetailsServlet</servlet-name>
    <url-pattern>/GetDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableJspServlet</display-name>
    <servlet-name>TableJspServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.table.TableJspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableJspServlet</servlet-name>
    <url-pattern>/table</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCurrentSchemaServlet</display-name>
    <servlet-name>ChangeCurrentSchemaServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.datasources.ChangeCurrentSchemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCurrentSchemaServlet</servlet-name>
    <url-pattern>/ChangeCurrentSchemaServlet</url-pattern>
  </servlet-mapping>
</web-app>