<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>mitsi-war</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/spring/application-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>GetDatasourcesServlet</display-name>
    <servlet-name>GetDatasourcesServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.datasources.GetDatasourcesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDatasourcesServlet</servlet-name>
    <url-pattern>/GetDatasourcesServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>720</session-timeout>
  </session-config>
  <!--listener>
    <listener-class>org.mitsi.mitsiwar.filters.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.mitsi.mitsiwar.filters.CleanerListener</listener-class>
  </listener-->
  <servlet>
    <description></description>
    <display-name>GetDatabaseObjectsServlet</display-name>
    <servlet-name>GetDatabaseObjectsServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.datasources.GetDatabaseObjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDatabaseObjectsServlet</servlet-name>
    <url-pattern>/GetDatabaseObjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetClientStatusServlet</display-name>
    <servlet-name>GetClientStatusServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.client.GetClientStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClientStatusServlet</servlet-name>
    <url-pattern>/GetClientStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDataServlet</display-name>
    <servlet-name>GetDataServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.data.GetDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDataServlet</servlet-name>
    <url-pattern>/GetDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsJspServlet</display-name>
    <servlet-name>DetailsJspServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.details.DetailsJspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsJspServlet</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDetailsServlet</display-name>
    <servlet-name>GetDetailsServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.details.GetDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDetailsServlet</servlet-name>
    <url-pattern>/GetDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableJspServlet</display-name>
    <servlet-name>TableJspServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.table.TableJspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableJspServlet</servlet-name>
    <url-pattern>/table</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCurrentSchemaServlet</display-name>
    <servlet-name>ChangeCurrentSchemaServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.datasources.ChangeCurrentSchemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCurrentSchemaServlet</servlet-name>
    <url-pattern>/ChangeCurrentSchemaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinksJspServlet</display-name>
    <servlet-name>LinksJspServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.links.LinksJspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinksJspServlet</servlet-name>
    <url-pattern>/links</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllRelationsServlet</display-name>
    <servlet-name>GetAllRelationsServlet</servlet-name>
    <servlet-class>org.mitsi.mitsiwar.links.GetAllRelationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRelationsServlet</servlet-name>
    <url-pattern>/GetAllRelationsServlet</url-pattern>
  </servlet-mapping>
</web-app>