<!DOCTYPE html>
<html lang="en" >
<head>
<title>Mitsi</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" href="img/favicon.png" />

<link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="ui-layout-0.0.0/ui-layout.css"/>
<link rel="styleSheet" href="ui-grid-3.0.4/ui-grid.css"/>
<link rel="stylesheet" type="text/css" href="rzslider/rzslider-5.4.3.min.css"/>
<link rel="styleSheet" href="css/mitsi.css"/>

<script src="angularjs-1.4.8/angular.min.js"></script>
<script src="ui-router-0.4.2/angular-ui-router.min.js"></script>
<script src="ui-bootstrap-0.13.3/ui-bootstrap-tpls-0.13.3.min.js"></script>
<script src="ui-layout-master/ui-layout.js"></script>
<script src="ui-grid-3.0.4/ui-grid.min.js"></script>
<script src="rzslider/rzslider-5.4.3.min.js"></script>
<script src="jsplumb-2.1.5/jsPlumb-2.1.5-min.js"></script>

<script src="js/mitsi.utils.js"></script>
<script src="js/workbench.event.js"></script>
<script src="mitsiApp.js"></script>
<script src="directives/resizableGrid.js"></script>
<script src="workbenchtabsCtrl.js"></script>
<script src="wdetailsCtrl.js"></script>
<script src="wdataCtrl.js"></script>
<script src="wgraphCtrl.js"></script>
<script src="wsqlCtrl.js"></script>
<script src="sourcesCtrl.js"></script>
<script src="loginCtrl.js"></script>
<script src="menuCtrl.js"></script>
<script src="services/mitsiHttpService.js"></script>
<script src="services/errorService.js"></script>
<script src="services/userService.js"></script>
<script src="services/sourceService.js"></script>
<script src="services/sqlService.js"></script>
<script src="services/detailsService.js"></script>
<script src="js/mitsi.graph.js"></script>

</head>

<body data-ng-app="mitsiApp">
      	<img src="img/logo-transparent.png" style="height:34px;vertical-align:bottom;"/>
		
		<div class="pull-right" ng-controller="loginCtrl">
		<table ng-hide="isUserLoggedIn()">
			<tr><td><input type="text"      ng-model="loginUser"     style="width:200px;" class="form-control" placeholder="username"/>
			</td><td><input type="password" ng-model="loginPassword" ng-keypress="loginOnEnter($event)" style="width:200px;" class="form-control" placeholder="password"/>
			</td><td><a href="" class="btn btn-default" ng-click="login()" ng-keypress="loginOnSpacebar($event)">log in</a>
			</td>
		</table>
		<table ng-hide="!isUserLoggedIn()">
			<tr><td style="font-weight:bold;padding-right:10px;">{{ loggedUser.username }}</td>
			<td><a href="" class="btn btn-default" ng-keypress="logoutOnSpacebar($event)" ng-click="logout()">log out</a></td></tr>
		</table>
		</div>
		
		<div class="pull-right" style="min-width:600px;" ng-controller="menuCtrl">
<script type="text/ng-template" id="popups/about.mitsi.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">About Mitsi</h3>
        </div>
        <div class="modal-body" id="modal-body" style="text-align:center;" >
	        <img src="img/favicon.png" style="margin-right:50px;"/>
			Mitsi version : {{ warVersion }}
		</div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="closeAbout()">OK</button>
        </div>
</script>
			<alert type="danger"
	           style="min-width:600px;padding-top:5px;padding-bottom:5px;margin-right:10px;text-align:center;"
	            class="pull-right"
             	close="closeGeneralError()"
            	dismiss-on-timeout="10000"
            	ng-if="mitsiGeneralError!=null"
            	>{{ mitsiGeneralError }}
            </alert>
			<span dropdown  
			      class="pull-right"
			>
					<a href="" dropdown-toggle 
						class="btn btn-default"
						style="pointer-events: all;margin-right:10px;" 
					>
					menu <i class="glyphicon glyphicon-menu-down"></i>
					</a>
					
			    <ul class="dropdown-menu" >
			        <li ><a href="" ng-click="menuAbout()">
			        	About Mitsi
			        </a></li>
			    </ul>
		   </span>
		</div> 

   <div ui-layout style="top:35px">
       <ui-layout options="{ flow : 'column' }">
        <sidebar ui-layout-container size="500px" style="overflow-y: scroll">
        	<ng-include src="'sources.html'" ></ng-include>
        </sidebar>
        
        <div ui-layout-container >
         <div ui-view ></div>
        </div>

      </ui-layout>
    </div>

    </body>
</html>