<!DOCTYPE html>
<html lang="en" >
<head>
<title>Mitsi</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" href="img/favicon.png" />

<link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
<!--  link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap-theme.min.css"/ -->
<link rel="stylesheet" href="ui-layout-0.0.0/ui-layout.css"/>

<script src="angularjs-1.4.3/angular.js"></script>
<!-- script src="angularjs-1.4.3/angular-route.js"></script -->
<script src="ui-bootstrap-0.13.3/ui-bootstrap-tpls-0.13.3.js"></script>
<script src="ui-layout-master/ui-layout.js"></script>

<script src="sourcesCtrl.js"></script>

</head>

<body data-ng-app="mitsiApp">
<div  ng-controller="sourcesCtrl">
<!--a href="" class="btn btn-info" ng-click="init()">init</a><br -->
>{{ tutu }}<  <br/>
	<div class="form-group has-feedback">
		<i class="glyphicon glyphicon-filter form-control-feedback"></i>
		<input type="text" ng-model="searchSource" class="form-control" placeholder="Search datasources here..."/>
	</div>
	<!--ul class="mitsi-source-list" >
		<li ng-repeat="s in datasources" title="{{s.description}}">
			{{ s.name }}
		</li>
	</ul -->
	
	<accordion close-others="true">
		<accordion-group ng-repeat="s in datasources | filter:searchSource | orderBy:'name'" is-open="s.accordionOpened" is-disabled="false" title="{{s.description}}" >
		  <accordion-heading >
            <span class="datasource-accordion-{{s.connected}}">{{s.name}}</span>
	        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': s.accordionOpened, 'glyphicon-chevron-right': !s.accordionOpened}"></i>
            <a href=""  ng-click="connect(s); $event.stopPropagation();">
	            <i class="pull-right glyphicon" ng-class="{'glyphicon-remove-circle': !s.connected, 'glyphicon-ok-circle': s.connected}"></i>
            </a>
            <br/>
            <span class="sourceTags">{{ s.tags.join(", ") }}</span>
          </accordion-heading>
	      This content is brought to you by myself
	      	<accordion close-others="false">
				<accordion-group ng-repeat="o in s.objects" is-open="o.accordionOpened" is-disabled="false" title="{{o.description}}">
				  <accordion-heading>
				  {{ o.id.name }}
			      </accordion-heading>
			<!--ul>
				<li ng-repeat="o in s.objects">
							{{ o.id.name }} -->
					<ul class="mitsi-columns-list" >
						<li ng-repeat="c in o.columns" title="{{c.description}}">
							{{ c.name }}
						</li>
					</ul>
				<!--/li>
			</ul-->
			    </accordion-group>
			</accordion>
	    </accordion-group>
	</accordion>
	
	end
</div>
</body>
</html>