<!DOCTYPE html>
<html lang="en" >
<head>
<title>Mitsi</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" href="img/favicon.png" />

<link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
<!--  link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap-theme.min.css"/ -->
<link rel="stylesheet" href="ui-layout-0.0.0/ui-layout.css"/>

<script src="angularjs-1.4.3/angular.js"></script>
<!-- script src="angularjs-1.4.3/angular.js"></script -->
<!-- script src="angularjs-1.4.3/angular-route.js"></script -->
<script src="ui-bootstrap-0.13.3/ui-bootstrap-tpls-0.13.3.js"></script>
<script src="ui-layout-master/ui-layout.js"></script>

<script src="sourcesCtrl.js"></script>

</head>

<body data-ng-app="mitsiApp">
<div  ng-controller="sourcesCtrl">

	<div class="form-group has-feedback">
		<!--i class="glyphicon glyphicon-filter form-control-feedback"></i-->
		<a href="" style="pointer-events: all;" class="glyphicon glyphicon-remove form-control-feedback filter-glyphicon" ng-click="searchSource=null; $event.stopPropagation();"></a>
		<input type="text" ng-model="searchSource" class="form-control" placeholder="Search datasources here..."/>
	</div>
	
	<accordion close-others="true">
		<accordion-group 
			ng-repeat="s in datasources | orderBy:'name'" 
			is-open="s.accordionOpened" 
			is-disabled="false" 
			ng-hide="isSourceExcludedByFilter(s)">
		  <accordion-heading >
		  	<i class="glyphicon glyphicon-exclamation-sign datasource-error"
		  		ng-if="s.errorMessage != null"></i>
            <span class="datasource-accordion-false"  
            	ng-click="selectSource(s)"
            >{{s.name}}</span>
             
            <a href=""  ng-click="refresh(s, s.currentSchemaName); $event.stopPropagation();">
	            <i class="pull-right glyphicon glyphicon-refresh "
	               ng-class="{'fast-right-spinner':s.loading}" 
	               style="margin-right:5px" ></i>
            </a>
            <br/>
            <span class="sourceTags">{{ s.tags.join(", ") }}</span><br ng-if="s.errorMessage!=null"/>
 
           </accordion-heading>
           <alert type="danger" 
            	popover="{{ s.errorDetails }}" 
            	popover-trigger="mouseenter"
            	popover-placement="bottom" 
            	close="s.errorMessage=null; s.errorDetails=null; "
            	dismiss-on-timeout="10000"
            	ng-if="s.errorMessage!=null"
            	>{{ s.errorMessage }}
            </alert>
            {{ s.description }}
            <br/>
	        <table style="width:100%"><tr><td style="width:80px">schema : </td><td><select name="currentSchemaSelect" ng-model="s.currentSchemaName" ng-change="refresh(s, s.currentSchemaName)" style="width:100%">
	        	<option ng-repeat="schema in s.schemas | orderBy:'name' " value="{{ schema.name }}">
					{{ schema.name }}
           	    </option>
              </ul>
	        </select></td></tr></table>
            <br/>
	      	<table style="width:100%;margin-bottom:10px;"><td style="width:150px">
		        <a href="" class="btn btn-default" ng-click="s.filter.hideTables=!s.filter.hideTables" ng-class="{'mitsiGrayscale':s.filter.hideTables==true}"
		           popover="{{ s.filter.hideTables ? 'include tables' : 'exclude tables' }}"  popover-trigger="mouseenter" popover-placement="right-bottom"> 
		        	<img src="img/table.png"/>
		        </a>
		        <a href="" class="btn btn-default" ng-click="s.filter.hideViews=!s.filter.hideViews"   ng-class="{'mitsiGrayscale':s.filter.hideViews==true}"
		        	popover="{{ s.filter.hideViews ? 'include views' : 'exclude views' }}"  popover-trigger="mouseenter" popover-placement="bottom">
		        	<img src="img/view.png"/
				</a>
		        <a href="" class="btn btn-default" ng-click="s.filter.hideMViews=!s.filter.hideMViews" ng-class="{'mitsiGrayscale':s.filter.hideMViews==true}"
		        	popover="{{ s.filter.hideMViews ? 'include materialized views' : 'exclude materialized views' }}"  popover-trigger="mouseenter" popover-placement="bottom">
		        	<img src="img/matview.png"/>
		        </a>
		    </td><td>
				<span dropdown on-toggle="toggled(open)" >
			      	<div class="form-group has-feedback" style="margin-bottom:0px;margin-left:5px;">
						<a href="" style="pointer-events: all;" class="glyphicon glyphicon-remove form-control-feedback filter-glyphicon" ng-click="s.searchObject=null; $event.stopPropagation();"></a>
						<a href="" dropdown-toggle style="pointer-events: all;margin-right:20px;" class="glyphicon glyphicon-option-horizontal form-control-feedback filter-glyphicon"></a>
						
						<input type="text" ng-model="s.searchObject" class="form-control" placeholder="Search tables here..."/>
					</div>
				    <ul class="dropdown-menu" >
				        <li ><a href="" ng-click="s.filter.tableName=!s.filter.tableName; $event.stopPropagation();">
				        	<i class="glyphicon glyphicon-ok" ng-class="{'mitsi-grey':!s.filter.tableName}"></i>
				        	filter tables names
				        </a></li>
				        <li ><a href="" ng-click="s.filter.columnName=!s.filter.columnName; $event.stopPropagation();">
				        	<i class="glyphicon glyphicon-ok" ng-class="{'mitsi-grey':!s.filter.columnName}"></i>
				        	filter columns names
				        </a></li>
				        <li ><a href="" ng-click="s.filter.indexName=!s.filter.indexName; $event.stopPropagation();">
				        	<i class="glyphicon glyphicon-ok" ng-class="{'mitsi-grey':!s.filter.indexName}"></i> 
				        	filter indexes names
				        </a></li>
				        <li ><a href="" ng-click="s.filter.constraintName=!s.filter.constraintName; $event.stopPropagation();">
				        	<i class="glyphicon glyphicon-ok" ng-class="{'mitsi-grey':!s.filter.constraintName}"></i>
				        	filter constraints names
				        </a></li>
				        <li>
				          <table><tr><td>excl.&nbsp</td><td> 
				        	<input type="text" 
				        			ng-model="s.filter.exclusion" 
				        			class="form-control" 
				        			ng-click="$event.stopPropagation();"
				        			placeholder="Exclusion filter ..."
				        			/>
				          </td></tr></table>
				        </li>
				    </ul>
			   </span>
			</td></table>
			      
	      	<accordion close-others="false">
				<accordion-group 
					ng-repeat="o in s.objects track by o.id.name | orderBy:'id.name'" 
					is-open="o.accordionOpened" 
					is-disabled="true" 
					ng-hide="!o.filterPined && isObjectExcludedByFilter(o, s)"
				>
				  <accordion-heading>
				  <div id="sourceDbObject_{{s.name}}_{{o.id.schema}}_{{o.id.name}}">
            		<a href=""  
            			ng-click="openObjectAccordion(o)">
			        	<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': o.accordionOpened, 'glyphicon-chevron-right': !o.accordionOpened}"></i>
			        </a>
            		<a href=""  
            			ng-click="o.filterPined = !o.filterPined">
				  		<i class="pull-right glyphicon glyphicon-pushpin" ng-class="{'objectPinSelected': o.filterPined}"></i>
				    </a>
            		<a href="" ng-click="displayProximityGraph(s, o)" >
			        	<i class="pull-right glyphicon glyphicon-asterisk"></i>
			        </a>
			        <!-- i class="pull-right glyphicon glyphicon-pushpin" ng-class="{'database-object-pined': o.accordionPined, 'database-object-unpined': !o.accordionPined }"></i -->
				        <img src="img/{{ (o.id.type=='table' ? 'table' : (o.id.type=='matview' ? 'matview' : (o.id.type=='view' ? 'view' : ''))) }}.png"/>
				  	<span   ng-click="selectObject(s, o)"   
							ng-class="{'sourceObjectSelect':s.currentObject.id.name==o.id.name && s.currentObject.id.schema==o.id.schema}"
						  	popover="{{o.description}}"
							popover-trigger="mouseenter"
							popover-popup-delay="2000" >
				  		{{ o.id.name }}
				  	</span>
				  	</div>
			      </accordion-heading>
					<ul class="mitsi-columns-list" >
						<li ng-repeat="c in o.columnsToDisplay" 
						    popover="{{ c.type }} / {{ c.description }}"
						    popover-placement="bottom"
							popover-trigger="mouseenter"
							popover-popup-delay="2000" >
							{{ c.name }}
						</li>
					</ul>
			    </accordion-group>
			</accordion>
	    </accordion-group>
	</accordion>
	
</div>
</body>
</html>