
<body data-ng-app="mitsiApp" class="container">
	<accordion close-others="false">
		<accordion-group 
			is-open="true"
			ng-repeat="accordion in detailsAccordions" 
			 >
		    <accordion-heading>
			    {{ accordion.title }}
			</accordion-heading>
			
			<table class="table-striped" style="width:100%;">
			<thead>
				<tr><th ng-repeat="column in accordion.columns">{{ column }}</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="myrow in accordion.data">
			 	  <td ng-repeat="d in myrow track by $index">{{ d }}</td>
				</tr>
			</tbody>
			</table>
			

	    </accordion-group>
	</accordion>
</body>
</html>