<!-- 
	>{{ tutu }}<
	<br/>
	len:{{ mestables.length }}
	<br/>
	name[0]:{{ mestables.tlist[0].name }}
	<br/>
	<pre>{{ mestables | json }}</pre>
	<br/>
 -->
 <div style="position:absolute">
  <div style="z-index:2;font-familly:Monospace;color:#707070;font-weight: bold;position:relative;top:5px;left:5px;">
  <span ng-repeat="text in sqlText">{{ text }}<br/></span>
  <span style="background-color:grey;font-weight:bold;padding-left:2px;padding-right:2px;border-radius:2px;"
  	    ng-show="sqlText.length > 0"
  		ng-click="removeAllTablesInSQL();">
  	<a href=""  
  	   style="color:white;"
  	   >clear</a>
  </span>
  </div>

<div id="jsPlumbContainer" 
     style="position:absolute;top:0px;width:200px;height:200px;"
     >
     

<div ng-repeat="(tableName, t) in tables"
     id="{{divPrefix+t.name}}"
     ng-class="{'linksTableSelected':isTableSelected(t.name), 'linksTableTemporary':isTableTemporary(t.name)}"
	 class="linksTable"
	 style="position:absolute;left:{{t.x}}px;top:{{t.y}}px;min-width:120px;cursor:default;"
	 draggable
	 ng-mouseover="mouseOverDiv(t)"
	 ng-mouseleave="mouseLeaveDiv()"
	 >
	 {{ t.name }}
	 <a href=""
	    ng-show="showIcons" 
	    ng-click="removeTable(t.name, true)">
		 <i class="glyphicon glyphicon-remove-circle" 
		    style="position:absolute;top:-8px;right:-8px;"></i>
	 </a>
	 <table 
	 		 style="position:absolute;bottom:-16px;left:0px;"><tr>
		 <td style="padding-right:6px;">
		     <a href="" 
		        ng-show="isTableTemporary(t.name)"
		        ng-click="pinTemporaryTable(t.name)">
			 	<i class="glyphicon glyphicon-pushpin"></i>
			 </a>
		 </td>
	 	 <!-- td style="padding-right:6px;">
	 	 	<span dropdown> 
		      <a href="" 
		         dropdown-toggle 
		         id="dropdown-tables-from-{{ t.name }}"
		         ng-disabled="hasTableMissingLinks(t.name, true, false)==false"
		         class="mitsiMenuGlyphicon"
		      >
		        <i class="glyphicon glyphicon-log-in"></i>
		      </a>
		      <ul class="dropdown-menu" aria-labelledby="dropdown-tables-from-{{ t.name }}">
		        <li ng-repeat="tFrom in getTableLinksFrom(t.name)">
		        	<a href="" 
		        	   ng-click="appendTableNoStacking(105, 105, tFrom.targetName, -1)"
		        	   >
		        	{{ tFrom.targetName }}
		        	</a>
		        </li>
		      </ul>
		    </span>
	 	 </td>
		 <td style="padding-right:6px;">
	 	 	<span dropdown> 
		      <a href="" 
		         dropdown-toggle 
		         id="dropdown-tables-to-{{ t.name }}"
		         ng-disabled="hasTableMissingLinks(t.name, false, true)==false"
		         class="mitsiMenuGlyphicon"
		         >
		        <i class="glyphicon glyphicon-log-out"></i>
		      </a>
		      <ul class="dropdown-menu" aria-labelledby="dropdown-tables-to-{{ t.name }}">
		        <li ng-repeat="tTo in getTableLinksTo(t.name)">
		        	<a href="" 
		        	   ng-click="appendTableNoStacking(105, 105, tTo.targetName, 1)">
		        	   {{ tTo.targetName }}
		        	</a>
		        </li>
		      </ul>
		    </span>
		 </td>
		 <td style="padding-right:6px;">
		     <a href="" 
		        ng-class="{'anchorDisabled':hasTableMissingLinks(t.name, true, true)==false}"
		        ng-click="displayProximityGraph(t.name)">
			 	<i class="glyphicon glyphicon-asterisk"></i>
			 </a>
		 </td-->
		 <td style="padding-right:6px;"
		     ng-class="{ 'mitsiHidden' : showIcons!==true}"
		 >
		 	<a href="" 
		       ng-click="requestInfo(t)">
		        <i class="glyphicon glyphicon-info-sign"></i>
		     </a>
		 </td>
		 <td style="padding-right:6px;"
		     ng-class="{ 'mitsiHidden' : showIcons!==true && !isTableInSQL(t)}"
		 >
		   <span 
		   		ng-class="[ 'tableActionLabel', {'tableActionLabelSelected':isTableInSQL(t)} ]"
		   		>
		  	<a href=""  
		  	   style="color:white;font-size:65%;vertical-align:middle;"
		  	   ng-click="toggleTableInSQL(t)"
		  	   >SQL</a>
		  	</span>
		 </td>		 
		 <td style="padding-left:6px;transform: scale(-1, 1);"
		 	 ng-class="{ 'mitsiHidden' : showIcons!==true && !isTableInSQL(t)}"
		 >
		 	<img src="img/flag_path.png"/>
		 </td>
		 <td style="padding-right:6px;"
		 	 ng-class="{ 'mitsiHidden' : showIcons!==true && !isTableInSQL(t)}"
		 >
		 	<img src="img/flag_path.png"/>
		 </td>
		 <!-- td style="padding-right:6px;">
		 	<i class="glyphicon glyphicon-ok-circle"></i>
		 </td>
		 <td style="padding-right:6px;">
		 	<i class="glyphicon glyphicon-comment"></i>
		 </td-->
	 </tr></table>
	 
</div>
</div>
</div>
