<script type="text/ng-template" id="popups/graphOptions.inline.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Options des graphs</h3>
        </div>
        <div class="modal-body" id="modal-body"  >
            <a href="" 
               ng-click="alwaysDisplaySchema=!alwaysDisplaySchema; $event.stopPropagation();"
               class="mitsiCheckOption"
			   ng-class="{'mitsi-grey':!alwaysDisplaySchema}" >
				<i class="glyphicon glyphicon-ok" ></i>
				always display schema name with tables in graphs
			</a>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="closeAndSaveOptionsDialog()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="closeOptionsDialog()">Cancel</button>
        </div>
</script>
 
 <div style="position:absolute">
  <div style="z-index:10;">
  	<table class="verticalMenuTable">
  	<tr><td ng-class="{'verticalMenuTdSelected':graphOpacity=='1.0'}"  class="verticalMenuTd"><a href="" ng-click="displayGraph()">Graph</a></td></tr>
  	<tr><td ng-class="{'verticalMenuTdSelected':showSQL}"  class="verticalMenuTd"><a href="" ng-click="displaySQL()">SQL</a></td></tr>
  	<tr><td ng-class="{'verticalMenuTdSelected':showPaths}"  class="verticalMenuTd"><a href="" ng-click="displayPaths()">Paths</a></td></tr>
  	<tr><td class="verticalMenuTd"><a href="" ng-click="showOptionsDialog()"><i class="glyphicon glyphicon-option-horizontal" style="font-size:120%;"></i></a></td></tr>
  	<tr><td style="height:150px">
  	  <rzslider rz-slider-model="zoomSlider.value" rz-slider-options="zoomSlider.options"></rzslider>
    </td></tr>
  	</table>
  </div>
  <div
  	ng-show="showSQL==true" 
  	style="z-index:2;font-familly:Monospace;color:#707070;font-weight: bold;position:absolute;top:5px;left:80px;width:1200px;">
  <span ng-repeat="text in sqlText">{{ text }}<br/></span>
  <span style="background-color:grey;font-weight:bold;padding-left:2px;padding-right:2px;border-radius:2px;"
  	    ng-show="sqlText.length > 0"
  		ng-click="removeAllTablesInSQL();">
  	<a href=""  
  	   style="color:white;"
  	   >clear</a>
  </span>
  </div>
  <div
  	ng-show="showPaths==true" 
  	style="z-index:3;font-familly:Monospace;color:#707070;font-weight: bold;position:absolute;top:20px;left:80px;width:1200px;">
   <div ng-repeat="path in paths" style="margin-bottom:10px">
       <svg ng-repeat-start="pt in path" height="24px" width="12px" style="vertical-align:bottom;">
      	  <polygon style="fill:lightgreen;" points="0,0 12,12 0,24 12,24 12,0"/>
        </svg><span
         style="vertical-align:bottom;display:inline-block;background-color:lightgreen;height:24px;">
         <a href="" 
            ng-click="appendTableNoStacking(80, 100, getPathIndexName(pt))"
            ng-class="{ anchorDisabled : existsTable(getPathIndexName(pt)) }">
           {{ getPathIndexName(pt) }}
         </a>
         </span><svg ng-repeat-end height="24px" width="12px" style="vertical-align:bottom;">
          <polygon style="fill:lightgreen;" points="0,0 0,24 12,12"/>
       </svg>
   </div>
   <div ng-repeat="path in rpaths" style="margin-bottom:10px">
       <svg ng-repeat-start="pt in path" height="24px" width="12px" style="vertical-align:bottom;">
      	  <polygon style="fill:lightgreen;" points="0,0 12,12 0,24 12,24 12,0"/>
        </svg><span
         style="vertical-align:bottom;display:inline-block;background-color:lightgreen;height:24px;">{{ getPathIndexName(pt) }}
         </span><svg ng-repeat-end height="24px" width="12px" style="vertical-align:bottom;">
          <polygon style="fill:lightgreen;" points="0,0 0,24 12,12"/>
       </svg>
   </div>
  </div>

<div id="jsPlumbContainer"
     style="opacity:{{graphOpacity}};position:absolute;top:0px;left:0px;width:5px;height:5px;transform:scale({{ zoomSlider.value/100  }});"
     >
     

<div ng-repeat="(tableName, t) in tables"
     id="{{divPrefix+t.name}}"
     ng-class="{'linksTableSelected':isTableSelected(t.name), 'linksTableInPath':isTableInPath(t.name), 'linksTableTemporary':isTableTemporary(t.name)}"
	 class="linksTable"
	 style="position:absolute;left:{{t.x}}px;top:{{t.y}}px;min-width:120px;cursor:default;"
	 draggable="true"
	 ng-mouseover="mouseOverDiv(t)"
	 ng-mouseleave="mouseLeaveDiv()"
	 >
	 {{ getTableDisplayName(t.name) }}
	 <a href=""
	    ng-show="showIcons" 
	    ng-click="removeTable(t.name, true)">
		 <i class="glyphicon glyphicon-remove-circle" 
		    style="position:absolute;top:-8px;right:-8px;"></i>
	 </a>
	 <table 
	 		 style="position:absolute;bottom:-16px;left:0px;"><tr>
		 <td style="padding-right:6px;">
		     <a href="" 
		        ng-show="isTableTemporary(t.name)"
		        ng-click="pinTemporaryTable(t.name)">
			 	<i class="glyphicon glyphicon-pushpin"></i>
			 </a>
		 </td>

		 <td style="padding-right:6px;"
		     ng-class="{ 'mitsiHidden' : showIcons!==true}"
		 >
		 	<a href="" 
		       ng-click="requestInfo(t)">
		        <i class="glyphicon glyphicon-info-sign"></i>
		     </a>
		 </td>
		 <td style="padding-right:6px;"
		     ng-class="{ 'mitsiHidden' : showIcons!==true && !isTableInSQL(t)}"
		 >
		   <span 
		   		ng-class="[ 'tableActionLabel', {'tableActionLabelSelected':isTableInSQL(t)} ]"
		   		>
		  	<a href=""  
		  	   style="color:white;font-size:65%;vertical-align:middle;"
		  	   ng-click="toggleTableInSQL(t)"
		  	   >SQL</a>
		  	</span>
		 </td>		 
		 <td style="padding-right:6px;"
		 	 ng-class="{ 'mitsiHidden' : showIcons!==true && !isTablePathStart(t)}"
		 >
		 	<span ng-class="[ {'tableActionLabelSelected':isTablePathStart(t)} ]">
		 	  <a href="" ng-click="setTablePathStart(t)">
		 	    <img style="transform: scale(-1, 1);" src="img/flag_path.png"/>
		 	  </a>
		   </span>
		 </td>
		 <td style="padding-right:6px;"
		 	 ng-class="{ 'mitsiHidden' : showIcons!==true && !isTablePathEnd(t)}"
		 >
		   <span ng-class="[ {'tableActionLabelSelected':isTablePathEnd(t)} ]">
		 	  <a href="" ng-click="setTablePathEnd(t)">
		 	    <img src="img/flag_path.png"/>
		 	  </a>
		   </span>
		 </td>
	 </tr></table>
	 
</div>
</div>
</div>
