.mitsiFilter
{ 
    border: 1;
    padding: 0;
}

.sqlinput {
	font-family: monospace;
}

.separator {
	background-color:lightgrey;
}
.hseparator {
	height:3px;
}
.vseparator {
	width:3px;
}

.datasource {
	background-color:lightblue;
	border-top:1px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	border-style: solid;
	margin-top:5px;
	border-top-right-radius:10px;
}

.datasourceName {
    font-size: 100%;
	font-weight: bold;
}

.datasourceTags {
	font-size: 80%;
	font-style: italic;
}

.popupMenu {
	background-color:lightgrey;
}

#sqlinput {
	font-family: monospace;
}

.datasourceTable {
	padding-left:10px;
	font-family: Arial;
	color:red;
}

.datasourceColumns {
}

.datasourceColumn {
	padding-left:20px;
	font-family: Arial;
	font-size:80%;
	color:lightred;
}

.detailWindow {
	background-color:#4aa5e6;
	border-radius:8px;
}

.detailHeader {
	background-color:blue;
	margin-top:15px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

.detailContent {
	background-color:lightblue;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}

.detailIcon {
	margin-top:15px;
}

.datasourceFilterTable td {
	padding:0px;
}

.schemaSelect {
	background-color : lightblue;
	font-weight:bold;
}

.headerTitle {
	font-size: 140%;
	font-style: italic;
}

.detailsAccordionTitle {
	background-color:lightblue;
	border-top:1px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	border-style: solid;
	margin-top:5px;
	border-top-right-radius:10px;
}

.detailsBody {
	background-color:white;
}

.linksTable {
	text-align:center;
    background-color: #F0F0F0; 
	border-radius:6px;
	padding:4px;
	padding-left:5px;
	padding-right:5px;
}
.linksTableTemporary {
	text-align:center;
    background-color: #c6c6ff; 
	border-radius:6px;
	padding:4px;
	padding-left:5px;
	padding-right:5px;
}

.linksTableHighlight {
	text-align:center;
    background-color: orange; 
	border-radius:4px;
	padding:4px;
}

.dynamicFilterCheckbox:checked {
	display:none;
}

.dynamicFilterCheckbox:not(checked) {
	display:none;
}

.dynamicFilterCheckbox:not(:checked) + label {
	color:grey;
	font-weight: normal;
}
.dynamicFilterCheckbox:checked + label {
	color:black;
	font-weight: normal;
}
.dynamicFilterPopup {
	background-color : white;
	border-radius : 5px;
	border : 3px solid lightgrey;
	padding : 5px;
}

.mitsiMenuGlyphicon {
	color : blue;
}
.mitsiMenuGlyphicon[disabled] {
	color : lightgrey;
}

.mitsiGrayscale {
	filter: grayscale(100%),;
	filter: opacity(40%);
}

.anchorDisabled {
  cursor: default;
  color : grey;
}
.anchorDisabled:hover {
  cursor: default;
  color : grey;
}

.tableActionLabel {
	background-color:grey;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
	border-radius:2px;
	vertical-align:top;"	
}
.tableActionLabelSelected {
	background-color:#b100f4;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
	border-radius:2px;
	vertical-align:top;"	
}
