.accordion-toggle:focus{outline: none;}

.ui-grid-menu-button {
    height: 31px;
}
.ui-splitbar {
	border: 1px solid lightgrey;
	z-index: 1 !important;
}
.ui-splitbar a {
	font-size : 70%;
}

.sourceTags {
	font-size:70%;
	font-style:italic;
	color:grey;
}

.mitsi-columns-list {
	list-style-type:none;
	padding-left:0px;
}

.datasource-accordion-true {
	font-weight:bold;
}

.datasource-accordion-false {
	font-weight:normal;
}

.datasource-tab-title {
	font-weight:bold;
	font-size:120%;
	font-style: italic;
	background-color:#F5F5F5;
	border-radius:5px;
}


.filter-glyphicon {
	color:grey;
	pointer-events: all;
}
.filter-glyphicon:hover {
	text-decoration : none;
}
.filter-glyphicon:focus {
	text-decoration : none;
	outline-style: none;
}

.graphTableLabel {
	color : #333;
} 
.graphTableLabel:hover {
	text-decoration : none;
} 

.mitsi-grey {
	color : grey !important;
}

.datasource-error {
	color : red;
}

.database-object-unpined {
	color : grey;
}

.database-object-pined {
}


.mitsiHidden {
	visibility: hidden;
}

.mitsiFilter
{ 
    border: 1;
    padding: 0;
}

.sqlinput {
	font-family: monospace;
}

.separator {
	background-color:lightgrey;
}
.hseparator {
	height:3px;
}
.vseparator {
	width:3px;
}

.datasource {
	background-color:lightblue;
	border-top:1px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	border-style: solid;
	margin-top:5px;
	border-top-right-radius:10px;
}

.datasourceName {
    font-size: 100%;
	font-weight: bold;
}

.datasourceTags {
	font-size: 80%;
	font-style: italic;
}

.popupMenu {
	background-color:lightgrey;
}

#sqlinput {
	font-family: monospace;
}

.datasourceTable {
	padding-left:10px;
	font-family: Arial;
	color:red;
}

.datasourceColumns {
}

.datasourceColumn {
	padding-left:20px;
	font-family: Arial;
	font-size:80%;
	color:lightred;
}

.detailWindow {
	background-color:#4aa5e6;
	border-radius:8px;
}

.detailHeader {
	background-color:blue;
	margin-top:15px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

.detailContent {
	background-color:lightblue;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}

.mitsiDetailsQuickFindTable {
	margin-left:80px;
	margin-bottom:20px;	
}

.mitsiDetailsTableHeader {
	text-align:center;
	border-left:1px solid #eee;
}
.mitsiDetailsTableTd {
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	padding:3px;	
}

.mitsiDetailsQuickFindLabel {
	font-style: italic;
	padding-right:10px;
}
.mitsiDetailsQuickFindInput {
	width:400px;
	border:0px;
	border-bottom:1px solid #aaa;
	background-color:#f8f8f8;
}
.mitsiDetailsQuickFindReset {
	pointer-events: all;
	position:absolute !important;
	right:5px !important;
	top:5px !important;
}


.detailIcon {
	margin-top:15px;
}

.datasourceFilterTable td {
	padding:0px;
}

.schemaSelect {
	background-color : lightblue;
	font-weight:bold;
}

.headerTitle {
	font-size: 140%;
	font-style: italic;
}

.detailsAccordionTitle {
	background-color:lightblue;
	border-top:1px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	border-style: solid;
	margin-top:5px;
	border-top-right-radius:10px;
}

.detailsBody {
	background-color:white;
}

.linksTable {
	text-align:center;
    background-color: #F0F0F0; 
	border-radius:6px;
	padding:4px;
	padding-left:5px;
	padding-right:5px;
}
.linksTableTemporary {
	text-align:center;
    background-color: #c6c6ff; 
	border-radius:6px;
	padding:4px;
	padding-left:5px;
	padding-right:5px;
}
.linksTableSelected {
	text-align:center;
    background-color: #80ff80; 
	border-radius:6px;
	padding:4px;
	padding-left:5px;
	padding-right:5px;
}
.linksTableInPath {
	text-align:center;
    background-color: #00ffff; 
	border-radius:6px;
	padding:4px;
	padding-left:5px;
	padding-right:5px;
}

.linksTableHighlight {
	text-align:center;
    background-color: orange; 
	border-radius:4px;
	padding:4px;
}

.dynamicFilterCheckbox:checked {
	display:none;
}

.dynamicFilterCheckbox:not(checked) {
	display:none;
}

.dynamicFilterCheckbox:not(:checked) + label {
	color:grey;
	font-weight: normal;
}
.dynamicFilterCheckbox:checked + label {
	color:black;
	font-weight: normal;
}
.dynamicFilterPopup {
	background-color : white;
	border-radius : 5px;
	border : 3px solid lightgrey;
	padding : 5px;
}

.mitsiMenuGlyphicon {
	color : blue;
}
.mitsiMenuGlyphicon[disabled] {
	color : lightgrey;
}

.mitsiGrayscale {
	filter: grayscale(100%),;
	filter: opacity(40%);
}

.anchorDisabled {
  pointer-events: none;
  cursor: default;
  color : grey;
}
.anchorDisabled:hover {
  cursor: default;
  color : grey;
}

.columnAttributeLabel {
	color:white;
	background-color:#9a9a9a;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
	border-radius:2px;
	font-size:70%;
	border:solid 1px grey;
}
.columnAttributeLabelWarning {
	color:white;
	background-color:#eb9649;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
	border-radius:2px;
	font-size:70%;
	border:solid 1px grey;
}

.labelFilter {
	display:inline-block;
	cursor: pointer;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
	border-radius:2px;
	font-size:90%;
	margin-left:1px;
	margin-right:1px;
	height:22px;
	vertical-align: middle;
	line-height:20px;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.filterLabelDisabled {
	background-color:white;
	color:#bebebe;
	border:solid 1px lightgrey;
}
.filterLabelNotSelected {
	background-color:#B0B0B0;
	color:white;
	border:solid 1px grey;
}
.filterLabelKeepIfExists {
	background-color:#5151ff;
	color:white;
	border:solid 1px #B0B0B0;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset, 0px 0px 8px rgba(82, 168, 236, 0.9);
	border:solid 1px grey;
}
.filterLabelKeepIfNotExists {
	background-color:#5151ff;
	color:white;
	border:solid 1px #B0B0B0;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset, 0px 0px 8px rgba(82, 168, 236, 0.9);
	text-decoration: line-through;
}
.filterWarningLabelNotSelected {
	background-color:#efb581;
	color:white;
	border:solid 1px #eb9649;
}
.filterWarningLabelKeepIfExists {
	background-color:#eb9649;
	color:white;
	border:solid 1px #B0B0B0;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset, 0px 0px 8px rgba(235, 150, 73, 0.9);
	border:solid 1px orange;
}
.filterWarningLabelKeepIfNotExists {
	background-color:#eb9649;
	color:white;
	border:solid 1px orange;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset, 0px 0px 8px rgba(235, 150, 73, 0.9);
	text-decoration: line-through;
}
.tableActionLabel {
	background-color:grey;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
	border-radius:2px;
	vertical-align:top;	
}

.tableActionLabelSelected {
	background-color:#cd48ff;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
	border-radius:2px;
	vertical-align:top;	
}

.objectMenuIcon {
	font-size:20px;
	color:#707070;
}

.objectPinSelected {
	color : #00ce00;
}

.sourceObjectSelect {
/*	color : #4d6c37;*/
	font-weight:bold;
}

.verticalMenuTable {
	border-spacing:8px;
	border-collapse:separate;
}

.verticalMenuTd {
	text-align:center;
	font-weight:bold;
	border-radius:5px;
	background-color:#e2e2e2;
	padding:4px;
}

.verticalMenuButtonTd {
	text-align:center;
	font-weight:bold;
	border-radius:5px;
	background-color:#e2e2e2;
	padding-left:4px;
	padding-right:4px;
}

.verticalMenuPopover {
	color:black;
}

.verticalMenuTdDisabled {
	color:#7f7f7f;
	text-decoration:none;
}
.verticalMenuTdDisabled a {
	color:#7f7f7f;
	text-decoration:none;
}
.verticalMenuTdDisabled a:link {
	color:#7f7f7f;
	text-decoration:none;
}
.verticalMenuTdDisabled a:visited {
	color:#7f7f7f;
	text-decoration:none;
}


.verticalMenuTdSelected {
	background-color:#cd48ff;
	color:white;
}
.verticalMenuTdSelected a {
	color:white;
}
.verticalMenuTdSelected a:link  {
	color:white;
}
.verticalMenuTdSelected a:visited  {
	color:white;
}


.anchorDisabled {
	color : #515151;
	text-decoration:none;
}

.anchorDisabled:hover {
	color : #515151;
	text-decoration:none;
}

.mitsiCheckOption {
	text-decoration : none !important;
}

/* animations */

.glyphicon.fast-right-spinner {
    animation: glyphicon-spin-r 1s infinite linear;
}

@keyframes glyphicon-spin-r {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}


.dataCornerDiv {
	text-align:center;
	padding-top:3px;
}

.dataClearAllFiltersAnchor {
	pointer-events: all;
	color:grey;
}

.dataClearAllFiltersIcon1 {
	margin-top:8px;
	transform: scale(0.7,0.7);
}

.dataClearAllFiltersIcon2 {
	margin-top:8px;
	left:-8px;
	top:-3px;
}

.dataColFilter {
	pointer-events:all;
	color:grey;
	position:absolute;
	right:2px;
	bottom:2px;
	z-index:2;
}

.dataColFilterClear {
	pointer-events: all;
	color:grey;
	position:absolute;
	right:15px;
	bottom:2px;
	z-index:2;
}

.dataColFilterText {
	width:100%; 
}

.mitsiSidePanelLabel {
	background-color:#eee;
	font-family: Arial;
	font-weight:bold;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-right:1px solid black;
	width:80px;
}
.mitsiSidePanelLabelSelected {
	background-color:#fff;
	text-align:center;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
}

.mitsiSidePanelLabelDisabled {
	color:#7f7f7f;
	pointer-events:none;
}

.mitsiSidePanel {
	background-color:#fff;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
	border-bottom-right-radius:7px;
	border:1px solid #ddd;
	border:1px solid #ddd;
	border:1px solid #ddd;
	padding : 5px;
}

.mitsiSidePanelContent {
	overflow:auto;
}

.mitsiSidePanelTitleBackground {
	background-color:#eee;
	padding:1px;
	margin-bottom : 2px;
}

.mitsiSidePanelTitle {
	font-size:80%;
	font-weight:bold;
	font-style:italic;
}

.columnPk {
	font-weight:bold;
}

.mitsiInfoPopover {
	text-align: center;
	white-space: nowrap;
}

.sqlMenuButton {
	margin-top : 5px;
	font-size:120%;	
}

.fliVertically {
	transform: scale(-1, 1);
}

.sqlTableWhenRunning {
	opacity: 0.3;
}

.sqlTable {
	border:1px solid lightgrey;
	border-collapse:collapse;	
}

.sqlTable tr {
	border:1px solid lightgrey;
}

.sqlTable td {
	border:1px solid lightgrey;
	padding:2px;
}

.sqlError {
	color : red;
	font-weight:bold;
}

.sqlErrorSqlRunning {
	opacity: 0.3;
}

.sqlShortText {
    font-family:monospace;
    font-style: italic;
    color:grey;
}

.sqlList {
    margin-top:3px;
    margin-bottom:3px;
}

.sqlHideButtonTd {
    vertical-align:top;
}

.sqlHideButtonA {
    margin:3px;
}

.sqlListHr {
    margin-top:10px;
    margin-bottom:5px;
    margin-left:10px;
}

.sqlHideButtonI {
    font-size:80%;
}