<head>

  <script type="text/ng-template" id="popover.refresh.html">
    <span>Refresh&nbsp;datasource</span>
  </script>
  <script type="text/ng-template" id="popover.sourceinfo.html">
    <span>Display&nbsp;datasource&nbsp;global&nbsp;informations</span>
  </script>
  <script type="text/ng-template" id="popover.table.filter.options.html">
    <span>filter&nbsp;options</span>
  </script>
  <script type="text/ng-template" id="popover.table.open.html">
    <span>display&nbsp;table&nbsp;columns</span>
  </script>
  <script type="text/ng-template" id="popover.table.pin.html">
    <span>pin&nbsp;table&nbsp;regardless&nbsp;of&nbsp;filter</span>
  </script>
  <script type="text/ng-template" id="popover.table.proxgraph.html">
    <span>display&nbsp;proximity&nbsp;graph</span>
  </script>

  <script type="text/ng-template" id="popover.columns.description">
    <div style="font-weight:bold;">{{ c.type }}</div>
	<div>{{ c.description }}</div>
	<div ng-repeat="comment in c.labelsComments">{{ comment }}</div>
  </script>


</head>

<body data-ng-app="mitsiApp">
<div  ng-controller="sourcesCtrl">

	<div class="form-group has-feedback">
		<a href="" style="pointer-events: all;" class="glyphicon glyphicon-remove form-control-feedback filter-glyphicon" ng-click="searchSource=''; $event.stopPropagation();"></a>
		<input type="text" ng-model="searchSource" class="form-control" placeholder="Search datasources here..."/>
	</div>
	
	<accordion close-others="true">
		<accordion-group 
			ng-repeat="s in datasources | orderBy:'name'" 
			is-open="s.accordionOpened" 
			is-disabled="false" 
			ng-hide="isSourceExcludedByFilter(s)">
		  <accordion-heading >
		  	<i class="glyphicon glyphicon-exclamation-sign datasource-error"
		  		ng-if="s.errorMessage != null"></i>
            <span class="datasource-accordion-false" 
                id="source_{{s.name}}" 
            	ng-click="selectSource(s)"
            >{{s.name}}</span>
             
            <a href=""  ng-click="refresh(s, s.currentSchemaName); $event.stopPropagation();">
	            <i class="pull-right glyphicon glyphicon-refresh "
	               ng-class="{'fast-right-spinner':s.loading}" 
	               style="margin-right:5px" 
			 	   popover-template="'popover.refresh.html'"
				   popover-trigger="mouseenter"
				   popover-placement="left-bottom"
	            ></i>
            </a>
             
            <a href=""  ng-click="displaySourceInfos(s); $event.stopPropagation();">
	            <i class="pull-right glyphicon glyphicon-info-sign "
	               style="margin-right:5px" 
			 	   popover-template="'popover.sourceinfo.html'"
				   popover-trigger="mouseenter"
				   popover-placement="left-bottom"
	            ></i>
            </a>
            <br/>
            <span class="sourceTags">{{ s.tags.join(", ") }}</span><br ng-if="s.errorMessage!=null"/>
 
           </accordion-heading>
           <alert type="danger" 
            	popover="{{ s.errorDetails }}" 
            	popover-trigger="mouseenter"
            	popover-placement="bottom" 
            	close="s.errorMessage=null; s.errorDetails=null; "
            	ng-if="s.errorMessage!=null"
            	>{{ s.errorMessage }}
            </alert>
            {{ s.description }}
            <br/>
	        <table style="width:100%;margin-bottom:3px"><tr><td style="width:80px">schema : </td><td><select name="currentSchemaSelect" ng-model="s.currentSchemaName" ng-change="refresh(s, s.currentSchemaName)" style="width:100%">
	        	<option ng-repeat="schema in s.schemas | orderBy:'name' " value="{{ schema.name }}">
					{{ schema.name }}
           	    </option>
              </ul>
	        </select></td></tr></table>
	      	<table style="width:100%;"><td>
				<span dropdown on-toggle="toggled(open)" >
			      	<div class="form-group has-feedback" style="margin-bottom:2px;">
						<a href="" style="pointer-events: all;" class="glyphicon glyphicon-remove form-control-feedback filter-glyphicon" ng-click="s.searchObject=''; localStorageUpdateForDs(s, s.searchObject, 'searchObject'); $event.stopPropagation();"></a>
						<a href="" dropdown-toggle style="pointer-events: all;margin-right:20px;" 
							class="glyphicon glyphicon-option-horizontal form-control-feedback filter-glyphicon"
					 	    popover-template="'popover.table.filter.options.html'"
							popover-trigger="mouseenter"
							popover-placement="bottom"
						></a>
						
						<input type="text" 
								ng-model="s.searchObject" 
								class="form-control" 
								placeholder="Search tables here..."
								ng-change="localStorageUpdateForDs(s, s.searchObject, 'searchObject');"
								/>
					</div>
				    <ul class="dropdown-menu" >
				        <li ><a href="" ng-click="s.filter.tableName=!s.filter.tableName; $event.stopPropagation();">
				        	<i class="glyphicon glyphicon-ok" ng-class="{'mitsi-grey':!s.filter.tableName}"></i>
				        	filter tables names
				        </a></li>
				        <li ><a href="" ng-click="s.filter.columnName=!s.filter.columnName; $event.stopPropagation();">
				        	<i class="glyphicon glyphicon-ok" ng-class="{'mitsi-grey':!s.filter.columnName}"></i>
				        	filter columns names
				        </a></li>
				        <li ><a href="" ng-click="s.filter.indexName=!s.filter.indexName; $event.stopPropagation();">
				        	<i class="glyphicon glyphicon-ok" ng-class="{'mitsi-grey':!s.filter.indexName}"></i> 
				        	filter indexes names
				        </a></li>
				        <li ><a href="" ng-click="s.filter.constraintName=!s.filter.constraintName; $event.stopPropagation();">
				        	<i class="glyphicon glyphicon-ok" ng-class="{'mitsi-grey':!s.filter.constraintName}"></i>
				        	filter constraints names
				        </a></li>
				        <li>
				          <table><tr><td>excl.&nbsp</td><td> 
				        	<input type="text" 
				        			ng-model="s.filter.exclusion" 
				        			class="form-control" 
				        			ng-click="$event.stopPropagation();"
				        			placeholder="Exclusion filter ..."
				        			/>
				          </td></tr></table>
				        </li>
				    </ul>
			   </span>
			</td>
			<td></table>
			
			<div style="margin-bottom:10px;line-height:24px;">
			    <a href="" class="btn btn-default btn-xs" ng-click="s.filter.hideTables=!s.filter.hideTables" ng-class="{'mitsiGrayscale':s.filter.hideTables==true}"
		            popover="{{ s.filter.hideTables ? 'tables are excluded' : 'tables are included' }}"  popover-trigger="mouseenter" popover-placement="right-bottom"
		            style="margin-left:1px"> 
		        	<img src="img/table.png" style="height:70%;width:70%;"/>
		        </a><a href="" class="btn btn-default btn-xs" ng-click="s.filter.hideViews=!s.filter.hideViews"   ng-class="{'mitsiGrayscale':s.filter.hideViews==true}"
		        	popover="{{ s.filter.hideViews ? 'views are excluded' : 'views are included' }}"  popover-trigger="mouseenter" popover-placement="bottom"
		            style="margin-left:1px">
		        	<img src="img/view.png" style="height:70%;width:70%;"/>
				</a><a href="" class="btn btn-default btn-xs" ng-click="s.filter.hideMViews=!s.filter.hideMViews" ng-class="{'mitsiGrayscale':s.filter.hideMViews==true}"
		        	popover="{{ s.filter.hideMViews ? 'materialized views are excluded' : 'materialized views are included' }}"  popover-trigger="mouseenter" popover-placement="bottom"
		            style="margin-left:1px">
		        	<img src="img/matview.png" style="height:70%;width:70%;"/>
		        </a>
			
				<span 
				   ng-repeat="(labelName, labelFilter) in s.labelsFilters" 
				   ng-class="getLabelClass(s, labelFilter)"
				   ng-click="toggleLabel(s, labelFilter)"
				   popover="{{ getLabelPopover(s, labelFilter) }}" 
				   popover-trigger="mouseenter" 
				   popover-placement="bottom"
				>{{ labelName }}</span>
			</div>
			      
	      	<accordion close-others="false">
				<accordion-group 
					ng-repeat="o in s.objects track by o.id.name | orderBy:'id.name'" 
					is-open="o.accordionOpened" 
					is-disabled="true" 
					ng-hide="!o.filterPined && isObjectExcludedByFilter(o, s)"
				>
				  <accordion-heading>
				  <div id="sourceDbObject_{{s.name}}_{{o.id.schema}}_{{o.id.name}}">
            		<a href=""  
            			ng-click="openObjectAccordion(o)">
			        	<i class="pull-right glyphicon objectMenuIcon" ng-class="{'glyphicon-chevron-down': o.accordionOpened, 'glyphicon-chevron-right': !o.accordionOpened}"
				 	    popover-template="'popover.table.open.html'"
						popover-trigger="mouseenter"
						popover-placement="left-bottom"
            			></i>
			        </a>
            		<a href=""  
            			ng-click="o.filterPined = !o.filterPined">
				  		<i class="pull-right glyphicon glyphicon-pushpin objectMenuIcon" ng-class="{'objectPinSelected': o.filterPined}"
				 	    popover-template="'popover.table.pin.html'"
						popover-trigger="mouseenter"
						popover-placement="left-bottom"
            			></i>
				    </a>
            		<a href="" ng-click="displayProximityGraph(s, o)">
			        	<img src="img/suncat_20px_grey.png"
			        	    class="pull-right" 
					 	    popover-template="'popover.table.proxgraph.html'"
							popover-trigger="mouseenter"
							popover-placement="left-bottom"
            		/>
			        </a>
				        <img src="img/{{ (o.id.type=='table' ? 'table' : (o.id.type=='matview' ? 'matview' : (o.id.type=='view' ? 'view' : ''))) }}.png"/>
				  	<span   ng-click="selectObject(s, o)"   
							ng-class="{'sourceObjectSelect':s.currentObject.id.name==o.id.name && s.currentObject.id.schema==o.id.schema}"
						  	popover="{{ getTablePopover(o) }}"
						    popover-placement="bottom-left"
							popover-trigger="mouseenter" >
				  		{{ o.id.name }}
				  	</span>
				  	</div>
			      </accordion-heading>
					<ul class="mitsi-columns-list" >
						<li ng-repeat="c in o.columnsToDisplay" 
							ng-class="{'columnPk':c.isPk}"
							popover-template="'popover.columns.description'"
						    popover-placement="bottom"
							popover-trigger="mouseenter"
							ng-mouseenter="currentColumn=c"
							ng-mouseleave="currentColumn=null"
							 >
							<table><tr><td style="width:23px;white-space:nowrap;">
								<span ng-if="hasLabelsForColumn(c)" class="columnAttributeLabel" >{{ getLabelsForColumn(c) }}</span>
								<span ng-if="hasLabelsWarningForColumn(c)" class="columnAttributeLabelWarning" >{{ getLabelsWarningForColumn(c) }}</span>
							</td><td>
								&nbsp;{{ c.name }}
							</td></tr></table>
							
						</li>
					</ul>
			    </accordion-group>
			</accordion>
	    </accordion-group>
	</accordion>
	
</div>
</body>
</html>