<div class="sidePanelResizeHeightControl sidePanelResizeHeightInitControl">
<div style="position:absolute;height:auto;top:45px;bottom:0px;right:0px;left:0px;width:auto;"
     class="sidePanelManageTop"
>
    <a href="" ng-click="refresh();$event.stopPropagation();"
       style="font-size:120%;position:absolute;right:10px;top:3px"/>
    	<i class="glyphicon glyphicon-refresh"
    	   ng-class="{'fast-right-spinner':loading}" 
    	></i>
    </a>

	<table style="width:100%;"><td style="vertical-align:top;width:155px;">

	<div class="tab" ng-hide="!detailsSections || detailsSections.length==0">
		<button ng-repeat="section in detailsSections"
				class="tablinks"
				ng-click="selectSection($index)"
				ng-class="{'active' : isSectionSelected($index)}">
			{{ section.title }}
		</button>
	</div>

	</td><td style="vertical-align:top;">

		<table class="mitsiDetailsQuickFindTable"><tr>
			<td class="mitsiDetailsQuickFindLabel">quick find : </td>
			<td style="position:absolute">
				<a href=""
				   class="glyphicon glyphicon-remove mitsiDetailsQuickFindReset"
				   ng-click="filter=null; $event.stopPropagation();"></a>
				<input type="text" class="mitsiDetailsQuickFindInput" ng-model="filter"/>
			</td>
		</tr></table>
	</td></table>

    <div style="position:absolute;right:0px;left:160px;top:40px;bottom:0px;height:auto;width:auto;overflow:auto;">
	  <div style="position:absolute;top:0px;left:0px;">

		<div ng-repeat="section in detailsSections" ng-show="isSectionSelected($index)">

			<table class="table-striped" style="width:100%">
			<thead>
			<tr>
				<th ng-repeat="column in section.columns"
					class="mitsiDetailsTableHeader">
					{{ prettyColumnTitle(column.name) }}
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="myrow in section.data"
				ng-hide="isRowExcludedByFilter(section, myrow, filter)"
			>
				<td ng-repeat="d in myrow track by $index"
					class="mitsiDetailsTableTd"
				>
					<span ng-if="section.columns[$index].displayType==null || section.columns[$index].displayType=='NORMAL'">{{ d }}</span>
					<i    ng-if="section.columns[$index].displayType=='FK_DIRECTION' && d=='toTheTable'"   class="glyphicon glyphicon-log-in"></i>
					<i    ng-if="section.columns[$index].displayType=='FK_DIRECTION' && d=='fromTheTable'" class="glyphicon glyphicon-log-out"></i>
					<a    ng-if="section.columns[$index].displayType=='TABLE_LINK' " href="" ng-click="selectTable(d)">{{ d }}</a>
				</td>
			</tr>
			</tbody>
		</table>
			</div></div>

	</div>
  </div>
</div>