
<body data-ng-app="mitsiApp" class="container">

    <a href="" ng-click="refresh();$event.stopPropagation();"
       ng-if="detailsAccordions.length == 0 && loading"
       style="padding:5px;font-size:120%;"/>
    	<i class="glyphicon glyphicon-refresh"
    	   ng-class="{'fast-right-spinner':loading}" 
    	></i>
    </a>
    
	<accordion close-others="false">
		<accordion-group 
			ng-repeat="accordion in detailsAccordions" 
			is-open="accordion.isOpen"
			 >
		    <accordion-heading>
	        	<i class="glyphicon " 
	        	   ng-class="{'glyphicon-chevron-down': accordion.isOpen, 'glyphicon-chevron-right': !accordion.isOpen}">
	        	   </i>
			    {{ accordion.title }}
			    
			    <a href="" ng-click="refresh();$event.stopPropagation();">
			    	<i class="pull-right glyphicon glyphicon-refresh"
			    	   ng-class="{'fast-right-spinner':loading}" 
			    	></i>
			    </a>
			</accordion-heading>
			
			<table class="mitsiDetailsQuickFindTable"><tr>
				<td class="mitsiDetailsQuickFindLabel">quick find : </td>
				<td style="position:absolute">
					<a href="" 
						class="glyphicon glyphicon-remove mitsiDetailsQuickFindReset" 
						ng-click="accordion.filter=null; $event.stopPropagation();"></a>
					<input type="text" class="mitsiDetailsQuickFindInput" ng-model="accordion.filter"/>
				</td>
			</tr></table>
			<table class="table-striped" style="width:100%;">
			<thead>
				<tr>
					<th ng-repeat="column in accordion.columns"
					    class="mitsiDetailsTableHeader">
						{{ column.name }}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="myrow in accordion.data"
					ng-hide="isRowExcludedByFilter(accordion, myrow)"
				>
			 	  <td ng-repeat="d in myrow track by $index" 
			 	  	  class="mitsiDetailsTableTd"
			 	  >
			 	  <span ng-if="accordion.columns[$index].displayType==null">{{ d }}</span>
			 	  <i    ng-if="accordion.columns[$index].displayType=='fkDirection' && d=='toTheTable'"   class="glyphicon glyphicon-log-in"></i>
			 	  <i    ng-if="accordion.columns[$index].displayType=='fkDirection' && d=='fromTheTable'" class="glyphicon glyphicon-log-out"></i>
			 	  <a    ng-if="accordion.columns[$index].displayType=='tableLink' " href="" ng-click="selectTable(d)">{{ d }}</a>
			 	  </td>
				</tr>
			</tbody>
			</table>
			

	    </accordion-group>
	</accordion>
</body>
</html>