<script type="text/ng-template" id="popups/graphOptions.inline.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Options des graphs</h3>
        </div>
        <div class="modal-body" id="modal-body"  >
            <a href="" 
               ng-click="alwaysDisplaySchema=!alwaysDisplaySchema; $event.stopPropagation();"
               class="mitsiCheckOption"
			   ng-class="{'mitsi-grey':!alwaysDisplaySchema}" >
				<i class="glyphicon glyphicon-ok" ></i>
				always display schema name with tables in graphs
			</a>
			<br/>
			<br/>
            <a href="" 
               ng-click="sqlGeneratedWithSchema=!sqlGeneratedWithSchema; $event.stopPropagation();"
               class="mitsiCheckOption"
			   ng-class="{'mitsi-grey':!sqlGeneratedWithSchema}" >
				<i class="glyphicon glyphicon-ok" ></i>
				always insert schemas along with tables in SQL
			</a>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="closeAndSaveOptionsDialog()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="closeOptionsDialog()">Cancel</button>
        </div>
</script>

<script type="text/ng-template" id="popups/graphUrl.inline.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Shar your graph</h3>
        </div>
        <div class="modal-body" id="modal-body" style="text-align:center;" >
			right click on the link below and "copy link address"<br/><br/>
            <a  target="_blank"
				href="{{ graphUrl }}"
				ng-show="graphUrl!=null && graphUrl.length>0"
				ng-click="closeOptionsDialog()"
				>
				{{ graphUrl.length<=70 ? graphUrl : graphUrl.substring(0, 70)+"..."}}
			</a> 
			<span ng-show="!(graphUrl!=null && graphUrl.length>0)">
			The graph is empty.<br/>
        	First build a graph you want to share.
			</span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="closeOptionsDialog()">OK</button>
        </div>
</script>

<script type="text/ng-template" id="popover.pin.action.html">
    <span>pin&nbsp;table</span>
</script>

<script type="text/ng-template" id="popover.info.action.html">
    <span>display&nbsp;details&nbsp;in&nbsp;left&nbsp;panel</span>
</script>

<script type="text/ng-template" id="popover.sql.action.html">
    <span>Build&nbsp;SQL&nbsp;FROM&nbsp;clause&nbsp;using&nbsp;foreign&nbsp;keys</span>
</script>

<script type="text/ng-template" id="popover.startpath.action.html">
    <span>Use&nbsp;table&nbsp;as&nbsp;start&nbsp;to&nbsp;find&nbsp;paths</span>
</script>

<script type="text/ng-template" id="popover.finishpath.action.html">
    <span>Use&nbsp;table&nbsp;as&nbsp;finish&nbsp;to&nbsp;find&nbsp;paths</span>
</script>

<script type="text/ng-template" id="popover.graphdisplay.html">
    <span>
        Display&nbsp;graph&nbsp;only
    </span>
</script>
 
<script type="text/ng-template" id="popover.sqldisplay.html">
    <span>
        Display&nbsp;SQL&nbsp;built&nbsp;using&nbsp;<span class="tableActionLabelSelected"><a href="" style="color:white;font-size:65%;vertical-align:middle;">SQL</a></span>&nbsp;labels
    </span>
</script>

<script type="text/ng-template" id="popover.pathsdisplay.html">
    <div style="text-align: center;">
        Display&nbsp;paths&nbsp;built&nbsp;using&nbsp;<img style="transform: scale(-1, 1);" src="img/flag_path.png"/>&nbsp;and&nbsp;<img src="img/flag_path.png"/>
    </div>
</script>

<script type="text/ng-template" id="popover.optionsdisplay.html">
    <div style="text-align: center;">
        Display&nbsp;options
    </div>
</script>

<script type="text/ng-template" id="popover.cleargraph.html">
    <div style="text-align: center;">
        Clear&nbsp;graphs,&nbsp;paths&nbsp;and&nbsp;SQL
    </div>
</script>

<script type="text/ng-template" id="popover.urlgraph.html">
    <div style="text-align: center;" ng-show="currentSource">
        share&nbsp;the&nbsp;current&nbsp;graph
    </div>
    <div style="text-align:center;" ng-show="!currentSource">
        First&nbsp;select&nbsp;a&nbsp;datasource&nbsp;and<br/>
		build&nbsp;a&nbsp;graph&nbsp;you&nbsp;want&nbsp;to&nbsp;share
    </div>
</script>

<div id="graphScroll" 
     style="position:absolute;top:50px;bottom:0;height:auto;width:100%;overflow:auto;"
 	 >
  <div id="jsPlumbContainer"
     style="position:absolute;top:0px;left:0px;width:1500px;height:1500px;transform:scale({{ zoomSlider.value/100  }});"
     >
     
    	 <div ng-repeat="(tableName, t) in tables track by tableName"
		     id="{{divPrefix+t.name}}"
		     ng-class="{'linksTableSelected':isTableSelected(t.name), 'linksTableInPath':isTableInPath(t.name), 'linksTableTemporary':isTableTemporary(t.name)}"
			 class="linksTable"
			 style="position:absolute;left:{{t.x}}px;top:{{t.y}}px;min-width:130px;cursor:default;"
			 draggable="true"
			 ng-mouseover="mouseOverTableName(t)"
			 ng-mouseleave="mouseLeaveTableName()"
			 >
			 <a href="#" class="graphTableLabel"
			 	ng-click="selectTable(t);">
			 	{{ getTableDisplayName(t.name) }}
			 </a>
			 <a href=""
			    ng-show="showIcons" 
			    ng-click="removeTable(t.name, true)">
				 <i class="glyphicon glyphicon-remove-circle" 
				    style="position:absolute;top:-8px;right:-8px;"></i>
			 </a>
			 <table 
			 		 style="position:absolute;bottom:-16px;left:0px;"><tr>
				 <td style="padding-right:5px;">
				     <a href="" 
				        ng-show="isTableTemporary(t.name)"
				        ng-click="pinTemporaryTable(t.name)"
						popover-template="'popover.pin.action.html'"
						popover-trigger="mouseenter"
						popover-placement="bottom"
						>
					 	<i class="glyphicon glyphicon-pushpin"></i>
					 </a>
				 </td>
		
				 <td style="padding-right:5px;position:relative;"
				 >
				 	<a href="" 
				 	    style="position:relative;top:-3px;"
				        ng-show="! isTableTemporary(t.name)"
						ng-mouseover="mouseOverAsterisk(t)"
						ng-mouseleave="mouseLeaveAsterisk()"
		 		        ng-click="pinTemporaryLinkedTables(t.name)"
		 		        >
				        <img src="img/suncat_20px_grey.png" style="height:16px;"/>
				     </a>
				 </td>
				 <td style="padding-right:5px;"
				     ng-class="{ 'mitsiHidden' : showIcons!==true}"
				 >
				 	<a href="" 
				        ng-show="! isTableTemporary(t.name)"
		 		        ng-click="requestInfo(t)"
		 		        popover-template="'popover.info.action.html'"
						popover-trigger="mouseenter"
						popover-placement="bottom"
		 		        >
				        <i class="glyphicon glyphicon-info-sign"></i>
				     </a>
				 </td>
				 <td style="padding-right:5px;position:relative;"
				     ng-class="{ 'mitsiHidden' : showIcons!==true && !isTableInSQL(t)}"
				 >
				   <span 
				        ng-show="! isTableTemporary(t.name)"
				   		ng-class="[ 'tableActionLabel', {'tableActionLabelSelected':isTableInSQL(t)} ]"
				   		>
				  	<a href=""  
				  	    style="color:white;font-size:65%;position:relative;top:-3px;"
				  	    ng-click="toggleTableInSQL(t)"
		 		        popover-template="'popover.sql.action.html'"
						popover-trigger="mouseenter"
						popover-placement="bottom"
				  	   >SQL</a>
				  	</span>
				 </td>		 
				 <td style="padding-right:5px;position:relative;"
				 	 ng-class="{ 'mitsiHidden' : showIcons!==true && !isTablePathStart(t)}"
				 >
				 	<span 
				 	    style="position:relative;top:-2px;"
				 		ng-show="! isTableTemporary(t.name)"
				 		ng-class="[ {'tableActionLabelSelected':isTablePathStart(t)} ]">
				 	  <a href="" ng-click="setTablePathStart(t)"
		 		        popover-template="'popover.startpath.action.html'"
						popover-trigger="mouseenter"
						popover-placement="bottom"
				 	  >
				 	    <img style="transform: scale(-1, 1);" src="img/flag_path.png"/>
				 	  </a>
				   </span>
				 </td>
				 <td style="padding-right:5px;position:relative;"
				 	 ng-class="{ 'mitsiHidden' : showIcons!==true && !isTablePathEnd(t)}"
				 >
				   <span 
				 	    style="position:relative;top:-2px;"
				   		ng-show="! isTableTemporary(t.name)"
				   		ng-class="[ {'tableActionLabelSelected':isTablePathEnd(t)} ]">
				 	  <a href="" ng-click="setTablePathEnd(t)"
				 	    popover-template="'popover.finishpath.action.html'"
						popover-trigger="mouseenter"
						popover-placement="bottom"
				 	  >
				 	    <img src="img/flag_path.png"/>
				 	  </a>
				   </span>
				 </td>
			 </tr></table>
			 
		</div>
     
    </div>
    
</div>

<table style="position:absolute;bottom:18px;left:2px;height:22px;"><tr>
	<td><div ng-class="{'mitsiSidePanelLabelSelected':panelDisplayed=='details'}" class="mitsiSidePanelLabel">
		<a href="" ng-class="{'mitsiSidePanelLabelDisabled':!sidePanelShouldShowDetails()}" ng-click="sidePanelToggle('details');">
			Details</a></div></td>
	<td><div ng-class="{'mitsiSidePanelLabelSelected':panelDisplayed=='sql'}" class="mitsiSidePanelLabel">
		<a href="" ng-class="{'mitsiSidePanelLabelDisabled':!sidePanelShouldShowSql()}" ng-click="sidePanelToggle('sql');">
			SQL</a></div></td>
	<td><div ng-class="{'mitsiSidePanelLabelSelected':panelDisplayed=='filters'}" class="mitsiSidePanelLabel">
		<a href="" ng-class="{'mitsiSidePanelLabelDisabled':!sidePanelShouldShowFilters()}" ng-click="sidePanelToggle('filters');">
			Filters</a></div></td>
	<td><div ng-class="{'mitsiSidePanelLabelSelected':panelDisplayed=='paths'}" class="mitsiSidePanelLabel">
		<a href="" ng-class="{'mitsiSidePanelLabelDisabled':!sidePanelShouldShowPaths()}" ng-click="sidePanelToggle('paths');">
			Paths</a></div></td>
	<td><div ng-class="{'mitsiSidePanelLabelSelected':panelDisplayed=='data'}" class="mitsiSidePanelLabel">
		<a href="" ng-class="{'mitsiSidePanelLabelDisabled':!sidePanelShouldShowData()}" ng-click="sidePanelToggle('data');">
			Data</a></div></td>
</tr></table>
<div class="mitsiSidePanel"
	 ng-show="sidePanelShouldShow()"
     style="position:absolute;bottom:39px;left:2px;right:110px;width:auto;"
     >
     <div class="mitsiSidePanelTitleBackground">
     	<div class="mitsiSidePanelTitle">
  		{{ getSidePanelTitle() }}
	     </div>
	     <div style="position:absolute;left:50%;cursor:ns-resize;top:6px;font-weight:bold;user-select: none;-moz-user-select: none;-ms-user-select: none;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;" 
	     	  onmousedown="angular.element(this).scope().onSidePanelResizeBegin(event)"
	     	  draggable="false"
	     	  >
	     	= 
	     </div>
	     <a href="" ng-click="sidePanelHide();"><i class="glyphicon glyphicon-remove" style="position:absolute;right:5px;top:6px;"></i></a>
	     <i class="glyphicon glyphicon-fullscreen" style="position:absolute;right:22px;top:6px;"></i>
     </div>
     <div class="mitsiSidePanelContent sidePanelResizeMaxHeightControl sidePanelResizeOriginControl" style="max-height:300px;">
        <div ng-controller="wdetailsCtrl" 
        	 style="position:relative;"
        	 ng-if="panelDisplayed=='details'" 
        	 >
     		<ng-include src="'views/wdetails.html'" ></ng-include>
     	</div>
        <div  
        	 style="position:relative;"
        	 ng-show="panelDisplayed=='paths'" 
        	 >
     		<ng-include src="'views/wpaths.html'" ></ng-include>
     	</div>
        <div  
        	 style="position:relative;"
        	 ng-show="panelDisplayed=='sql'" 
        	 >
     		<ng-include src="'views/wgensql.html'" ></ng-include>
     	</div>
     </div>
     <div class="sidePanelResizeMaxHeightControl" style="max-height:300px;"> <!--  no overflow here / taken into acount by ui-grid -->
        <div ng-controller="wdataCtrl"   
        	 style="position:relative;"
        	 ng-if="panelDisplayed=='data'" 
        	 >
     		<ng-include src="'views/wdata2.html'" style="height:100%;"></ng-include>
     	</div>
     </div>
</div>
        
<div id="graphParent" style="position:fixed;top:100px;right:23px;">
     
  <div style="z-index:10;">
  	<table class="verticalMenuTable">
  	<tr><td class="verticalMenuTd">
  		<a href="" ng-click="showOptionsDialog()"
 			popover-template="'popover.optionsdisplay.html'"
			popover-class="verticalMenuPopover"
			popover-trigger="mouseenter"
			popover-placement="left"
  		>Options</i></a></td></tr>
  	<tr><td style="height:150px">
  	  <rzslider rz-slider-model="zoomSlider.value" rz-slider-options="zoomSlider.options"></rzslider>
    </td></tr>
  	<tr><td ng-class="{'verticalMenuTdSelected':false}"  class="verticalMenuButtonTd" >
  		<a href="" ng-click="removeAllTables()"
			popover-template="'popover.cleargraph.html'"
			popover-class="verticalMenuPopover"
			popover-trigger="mouseenter"
			popover-placement="left"
  		><i class="glyphicon glyphicon-remove"></i>&nbsp;clear</a></td></tr>
  	<tr><td ng-class="{'verticalMenuTdDisabled':!currentSource}"  class="verticalMenuButtonTd" >
  		<a href="" ng-click="showPermalink()"
			popover-template="'popover.urlgraph.html'"
			popover-class="verticalMenuPopover"
			popover-trigger="mouseenter"
			popover-placement="left"
  		><i class="glyphicon glyphicon-share"></i>&nbsp;share</a></td></tr>
  	</table>
  </div>

</div>
