
			<div class="pull-right" style="vertical-align:bottom;line-height:40px;height:40px;display:inline-block;padding-right:10px;" >
				<span class="datasource-tab-title" style="padding:3px">
					{{ currentSource ? 
					   currentSource.name +
					   		(currentSource.currentObject ? 
					   			" : " + currentSource.currentObject.id.schema + "." + currentSource.currentObject.id.name + " (" + currentSource.currentObject.id.type + ")"
					   			: "" ) 
					   : "" }}
				</span>
			</div> 
        	
        	<tabset >
			  <tab ui-sref="workbench.graph" ui-sref-active="active">
			  	<tab-heading>
			      <span>graph</span> 
			    </tab-heading>
			  </tab>
			  <tab  ui-sref="workbench.details" ui-sref-active="active">
			  	<tab-heading>
			      <span>details</span> 
			    </tab-heading>
			  </tab>
			  <tab ui-sref="workbench.data" ui-sref-active="active">
			  	<tab-heading>
			      <span>data</span> 
			    </tab-heading>
			  </tab>
			  <tab ui-sref="workbench.sql" ui-sref-active="active">
			  	<tab-heading>
			      <span>SQL</span> 
			    </tab-heading>
			  </tab>
				<tab ui-sref="workbench.rules" ui-sref-active="active">
					<tab-heading>
						<span>labels</span>
					</tab-heading>
				</tab>
				<tab ui-sref="workbench.diff" ui-sref-active="active" ng-hide="!isMitsiExperimentalScope()">
					<tab-heading>
						<span>diff</span>
					</tab-heading>
				</tab>
			</tabset>
			
			<div ui-view ></div>
