<script type="text/ng-template" id="popups/rulesVariables.inline.html">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">available variables</h3>
	</div>
	<div class="modal-body" id="modal-body"  >
		<!-- TODO : formatting -->
		<div ng-repeat="v in variables" style="font-family:monospace;padding-left:{{20*v.level}}px;">{{ v.name }}</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="closeOptionsDialog()">OK</button>
	</div>
</script>


<div class="wrulesEnclosingDiv" >

<div style="margin:12px;">
	<a href=""
	   ng-if="!updateMode"
	   ng-click="update();"
	   class="mitsiCheckOptionBig">
		<i class="glyphicon glyphicon-pencil" ></i>
		<span>unlock</span>
	</a>
	&nbsp;&nbsp;
	<a href=""
	   ng-if="updateMode"
	   ng-click="cancel()"
	   class="mitsiCheckOptionBig">
		<i class="glyphicon glyphicon-remove" ></i>
		<span>cancel (TODO)</span>
	</a>
	&nbsp;&nbsp;
	<a href=""
	   ng-if="updateMode"
	   ng-click="saveRules()"
	   class="mitsiCheckOptionBig">
		<i class="glyphicon glyphicon-floppy-disk" ></i>
		<span>apply</span>
	</a>
	&nbsp;&nbsp;
    <a href=""
       ng-if="updateMode"
       ng-click="addRule();"
       class="mitsiCheckOptionBig" >
        <i class="glyphicon glyphicon-plus" ></i>
        add
    </a>
    &nbsp;&nbsp;
    <a href=""
       ng-if="updateMode"
       ng-click="resetRules();"
       class="mitsiCheckOptionBig" >
        <i class="glyphicon glyphicon-share-alt fliVertically"></i>
        reset all rules
    </a>
	&nbsp;&nbsp;
	<a href=""
	   ng-if="updateMode"
	   ng-click="displayCollections();"
	   class="mitsiCheckOptionBig" >
		<i class="glyphicon glyphicon-list"></i>
		display collections
	</a>
</div>

<table>
	<tbody >
	<tr id="montest_{{$index}}"
		class="eyeshinePopupListTr"
		ng-repeat="r in rulesCopy track by $index"
		mitsi-draggable="true"
		mitsi-draggable-condition="updateMode"
		mitsi-drop-handler="moveRule(from, to)"
		mitsi-drop-data="$index"
	>
        <td>
            <input type="checkbox"
                   ng-model="r.disabled"
                   ng-true-value="'true'"
                   ng-false-value="'false'"
                   ng-change="disableEnableRule(r)"
                   title="disable">
        </td>
		<td ng-class="{ eyeshineRuleDisabled : isRuleDisabled(r) }">
            <div    popover="{{ r.labelComment }}"
                    popover-trigger="mouseenter"
                    popover-placement="bottom-right"
            >
                <div class="eyeshinePopupListLabel"
                      ng-class="getLabelClass(r)">
                    <div ng-if="!updateMode">
                        {{ getLabelDisplayInReadOnlyMode(r) }}
                    </div>
                    <div  ng-if="updateMode">
                        <ui-codemirror id="labelNameCodeMirror_{{$index}}"
                               ui-codemirror-opts="editorOptions"
                               ng-model="r.label"
                        ></ui-codemirror>
                    </div>
                </div>
            </div>
            <div ng-if="updateMode">
                <table style="margin-left:10px;margin-bottom:10px;">
                    <tr>
                        <td>
                            <div class="labelFilterChoose"
                                  style="width:16px;height:16px;margin:3px;"
                                 ng-class="{ 'filterLabelKeepIfExists' : r.type!=='warning'&&r.type!=='diff' , 'filterLabelNotSelected' : r.type==='warning'||r.type==='diff' }"
                                 ng-click="r.type = 'normal'">
                                &nbsp;
                            </div>
                        </td>
                        <td>
                            <div class="labelFilterChoose"
                                 style="width:16px;height:16px;margin:3px;"
                                 ng-class="{ 'filterWarningLabelKeepIfExists' : r.type==='warning' , 'filterWarningLabelNotSelected' : r.type!=='warning' }"
                                 ng-click="r.type = 'warning'">
                                &nbsp;
                            </div>
                        </td>
                        <td>
                            <div class="labelFilterChoose"
                                 style="width:16px;height:16px;margin:3px;"
                                 ng-class="{ 'filterDiffLabelKeepIfExists' : r.type==='diff' , 'filterDiffLabelNotSelected' : r.type!=='diff' }"
                                 ng-click="r.type = 'diff'">
                                &nbsp;
                            </div>
                        </td>
                    </tr>
                </table>

                <a href=""
                   ng-click="removeRule(r, $index);"
                   style="margin-left:24px;"
                   class="mitsiCheckOptionBig" style="margin-top:15px;horizontal-align:center;">
                    <i class="glyphicon glyphicon-trash" ></i>
                </a>
            </div>
		</td>
		<td>
			<table>
				<tr class="eyeshinePopupListRuleTableLabel">
					<td>rule :</td>
				</tr>
				<tr>
					<td>
						<div ng-if="!updateMode"
							 class="eyeshinePopupListEditor eyeshinePopupListEditorReadOnly">
							<ui-codemirror
									ui-codemirror-opts="editorOptionsReadOnly"
									ng-model="r.rule"
							></ui-codemirror>
						</div>
						<div 	ng-if="updateMode"
								class="eyeshinePopupListEditor eyeshinePopupListEditorUpdate">
							<ui-codemirror
									ui-codemirror-opts="editorOptions"
									ng-model="r.rule"
							></ui-codemirror>
						</div>
					</td>
				</tr>
                <tr class="eyeshinePopupListRuleTableLabel"
                    ng-if="updateMode">
                    <td>display label :</td>
                </tr>
                <tr ng-if="updateMode">
                    <td>
                        <div class="eyeshinePopupListEditor eyeshinePopupListEditorUpdate">
                            <ui-codemirror
                                    ui-codemirror-opts="editorOptions"
                                    ng-model="r.labelDisplay"
                            ></ui-codemirror>
                        </div>
                    </td>
                </tr>
				<tr class="eyeshinePopupListRuleTableLabel"
					ng-if="updateMode || r.candidateFkToTable">
					<td>candidate fk model :</td>
				</tr>
				<tr ng-if="updateMode || r.candidateFkToTable">
					<td>
						<div 	ng-if="!updateMode"
								class="eyeshinePopupListEditor eyeshinePopupListEditorReadOnly">
							<ui-codemirror
									ui-codemirror-opts="editorOptionsReadOnly"
									ng-model="r.candidateFkToTable"
							></ui-codemirror>
						</div>
						<div 	ng-if="updateMode"
								class="eyeshinePopupListEditor eyeshinePopupListEditorUpdate">
							<ui-codemirror
									ui-codemirror-opts="editorOptions"
									ng-model="r.candidateFkToTable"
							></ui-codemirror>
						</div>
					</td>
				</tr>
                <tr class="eyeshinePopupListRuleTableLabel"
                    ng-if="updateMode">
                    <td>
                        <div>
                            label comment :
                        </div>
                    </td>
                </tr>
                <tr ng-if="updateMode">
                    <td>
                        <div 	class="eyeshinePopupListEditor eyeshinePopupListEditorUpdate">
                            <ui-codemirror
                                    ui-codemirror-opts="editorOptions"
                                    ng-model="r.labelComment"
                            ></ui-codemirror>
                        </div>
                    </td>
                </tr>
				<tr class="eyeshinePopupListRuleTableLabel">
					<td>
						<a href=""
						   ng-click="r.tmpDisplayInScreen = !r.tmpDisplayInScreen"
						   ng-if="!updateMode">
							<i class="glyphicon"
							   ng-class="{ 'glyphicon-chevron-down' : r.tmpDisplayInScreen, 'glyphicon-chevron-right' : !r.tmpDisplayInScreen }"></i>
							variable comment :
						</a>
						<div ng-if="updateMode">
							variable comment :
						</div>
					</td>
				</tr>
				<tr >
					<td>
						<div 	ng-if="!updateMode && r.tmpDisplayInScreen"
								class="eyeshinePopupListEditor eyeshinePopupListEditorReadOnly">
							<ui-codemirror
									ui-codemirror-opts="editorOptionsReadOnly"
									ng-model="r.comment"
							></ui-codemirror>
						</div>
						<div 	ng-if="updateMode"
								class="eyeshinePopupListEditor eyeshinePopupListEditorUpdate">
							<ui-codemirror
									ui-codemirror-opts="editorOptions"
									ng-model="r.comment"
							></ui-codemirror>
						</div>
					</td>
				</tr>
                <tr ng-if="updateMode"
                    class="eyeshinePopupListRuleTableLabel">
                    <td>
                        <div >
                            scope :
                        </div>
                    </td>
                </tr>
                <tr ng-if="updateMode">
                    <td>
                        <div 	class="eyeshinePopupListEditor eyeshinePopupListEditorUpdate">
                            <label>
                                <input type="checkbox" ng-model="r.scope"
                                   ng-true-value="'table'" ng-false-value="'column'"/>
                                table
                            </label>
                            <label style="margin-left:50px;">
                                <input type="checkbox" ng-model="r.scope"
                                   ng-true-value="'column'" ng-false-value="'table'">
                                column
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
	</tr>
	</tbody>
</table>

</div>